.messageBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background: rgb(45, 47, 51);
  border: 0.1rem solid rgb(95,97,101);
  border-radius: 1rem;
}

.textInput {
  width: 100%;
  height: 90%;
  margin: 0 0.5rem;

  resize: none;
  background: rgb(45,47,51);
  border: none;
  border-radius: 1rem;
  outline: none;
  color: rgb(253,255,251);
  font-size: 1.5vw;
}

.sendButton {
  width: 10%;
  height: 80%;
  margin: 0 0.5rem;

  background: rgb(45, 163, 228);
  outline: none;
  border: none;
  border-radius: 1rem;
  color: rgb(30, 72, 104);
  font-size: 1vw;
}
