.message {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  
  color: rgb(253,255,251);
  font-size: 2vw;
}

.text {
  max-width: 80%;
}

.time {
  color: rgb(153, 155, 151);
  font-size: 1.5vw;
}
